body{
  background-color:burlywood;
}
.one{
    justify-content: space-between;
    display: flex;
}
.two{
  text-align: center;
  font-size: 30px;
}
.three{
  display: flex;
padding: 20px;
}
#shorts{
  padding: 20px;;
}
.four{
  text-align: center;
  justify-content: space-around;
  font-size: 20px;
  padding-bottom: 20px;
}
#five{
  padding: 10px;
}
.follow{
  padding: 80px;
  text-align: center;
}


